<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>RubyNative Extension Test</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse"
       <%= "data-ajax='false'" if is_bb6 %>>Home</a>

  </div>

  <div data-role="content">
    <ul data-role="listview">
        <%= link_to 'Run test 1', { :action => :run_test1 }%><br>
        <%= link_to 'Run test 2', { :action => :run_test2 }%><br>
        <%= link_to 'Run test 3', { :action => :run_test3 }%><br>
    </ul>
  </div>

</div>
